body {
    background: linear-gradient( #1cb5e0,#000046);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
h1{
	text-align: center;
    color: black;
	/*ketebalan font*/
	font-weight: 100;
}
 
.tombol_in{
	text-align: center;
    color:#232323;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
    font-size: 20;
}
 
.kotak_login{
	width: 600px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
    color:#232323;
}
 
.form{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 15%;
	padding: 5px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
}
 
.tombol_input{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 25px;
    color :white;
    float:bottom;
}
.tombol_input1{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:right;
}
.tombol_kembali{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.tombol1{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
	margin-left: 10px;
    color :white;
}
.tombol2{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
	margin-left: 10px;
    color :white;
	
	
}
.ahref{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}.tombol{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 5%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 5px 5px;
    color :white;
}
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
    color:#232323;
}
 
.nis{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
.kelas{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
.tanggal{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 80%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
 
.nama{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
	width: 120px;
    color:#232323;
	float: inherit;
}
.kelas{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 50%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
}

 
.tombol_input{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 50%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.tombol_input1{
	background:  #000046;
	color: white;
	font-size: 10pt;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:right;
}
.tombol_kembali{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.ahref{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
.alamat{
	width: 400px;
    height: 250px;
}
.kotak_login{
	width: 680px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 300px auto;
	padding: 70px 50px;
	border-radius: 10px
}
table{
	background: #fff;
}
.paging-nav {
text-align: center;
padding-top: 2px;
}

.paging-nav a {
margin: auto 1px;
text-decoration: none;
display: inline-block;
padding: 1px 7px;
background: #91b9e6;
color: white;
border-radius: 3px;
}

.paging-nav .selected-page {
background: #187ed5;
font-weight: bold;
}

.paging-nav,
#tableData {
width: 400px;
margin: 0 auto;
font-family: Arial, sans-serif;
}

.styled select {
	background: transparent;
	width: 150px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
  }
  .styled {
	margin: 50px;
	width: 120px;
	height: 34px;
	border: 1px solid #111;
	border-radius: 3px;
	overflow: hidden;
	background: url(http://www.stackoverflow.com/favicon.ico) 96% / 20% no-repeat #eee;
  }